<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxkj.managecenter.mapper.BlogLikeUserMapper">
    <select id="filterIsLike" resultType="blogLikeUser">
        select * from t_blog_like_user tblu
        where tblu.blog_id = #{blogId} and tblu.user_id = #{userId}
        ;
    </select>
</mapper>
