<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxkj.managecenter.mapper.BlogInfoMapper">


    <insert id="insertBlogInfo" parameterType="com.jxkj.managecenter.entity.BlogInfo"
            useGeneratedKeys="true" keyProperty="id" >
            insert into t_blog_info(title,content,t_user_id)
            values
            (#{title},#{content},#{tUserId});
    </insert>
</mapper>
