<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxkj.managecenter.mapper.BlogInfoMapper">

    <resultMap id="findBlogInfoAndTagsByBlogInfoIdMap" type="com.jxkj.managecenter.entity.BlogInfo">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="like_num" property="likeNum"/>
        <result column="blog_link_url" property="blogLinkUrl"/>
        <result column="blog_status" property="blogStatus"/>
        <result column="page_view_num" property="pageViewNum"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="title" property="title"/>
        <collection property="blogInfoTags" column="id"  ofType="com.jxkj.managecenter.entity.BlogTag">
            <id column="id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>


    <insert id="insertBlogInfo" parameterType="com.jxkj.managecenter.entity.BlogInfo"
            useGeneratedKeys="true" keyProperty="id" >
            insert into t_blog_info(title,content,t_user_id)
            values
            (#{title},#{content},#{tUserId});
    </insert>


    <select id="findBlogInfoAndTagsByBlogInfoId" parameterType="long" resultMap="findBlogInfoAndTagsByBlogInfoIdMap">
        select
            tbi.id,
            tbi.content,
            tbi.like_num,
            tbi.blog_link_url,
            tbi.blog_status,
            tbi.page_view_num,
            tbi.create_time,
            tbi.update_time,
            tbi.title,
            tba.id,
            tba.tag_name
        from t_blog_info tbi
        left outer join t_blog_info_tag tbit on tbi.id = tbit.t_blog_info_id
        left outer join t_blog_tag tba on tbit.t_blog_tag_id = tba.id
        where tbi.id = #{blogId}
        ;
    </select>
</mapper>
